In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import sqlite3

import datetime

from wordcloud import WordCloud
from wordcloud import STOPWORDS

import math
import numpy as np

In [2]:
# ascents_df.to_csv('/Users/cp/Documents/dsi/8a_kaggle/boulders_full.csv', index= False)
col_list = ['userAvatar', 'userName', 'userSlug', 'date', 'difficulty', 'isHard', 
       'isSoft', 'type', 'comment', 'traditional', 'project', 'rating', 
       'userPrivate', 'zlagGradeIndex', 'zlaggableName', 'zlaggableSlug', 
       'cragSlug', 'cragName', 'countrySlug', 'countryName', 'areaSlug', 
       'areaName', 'sectorSlug', 'sectorName', 'category', 'recommended', 
       'firstAscent', 'secondGo', 'isBoltedByMe', 'isOverhang', 'isVertical', 
       'isSlab', 'isRoof', 'isAthletic', 'isEndurance', 'isCrimpy', 'isCruxy', 
       'isSloper', 'isTechnical', 'isDanger', 'chipped', 'withKneepad', 
       'badAnchor', 'badBolts', 'highFirstBolt', 'looseRock', 
       'badClippingPosition']

In [3]:
df_lst = []

In [4]:
scraped_df = pd.read_csv('/Volumes/Backup Plus/boulder_csv/routes/Mastan.csv', names = col_list)
scraped_df['date'] = pd.to_datetime(scraped_df['date']).dt.tz_localize(None)
scraped_df.date = scraped_df.date.dt.round('1d')

In [5]:
file_name = scraped_df.zlaggableName.value_counts().index.tolist()[0]

In [6]:
file_name

'Toma Castañazo'

In [7]:
query1 = f"SELECT * FROM ascent where name = '{file_name}' and climb_type = 0"

In [8]:
data = sqlite3.connect('/Users/cp/Documents/dsi/8a_kaggle/database.sqlite')
ascents_df = pd.read_sql_query(query1, data)
ascents_df['date'] = pd.to_datetime(ascents_df['date'], unit = 's')
ascents_df['rec_date'] = pd.to_datetime(ascents_df['date'], unit = 's')
ascents_df.date = ascents_df.date.dt.round('1d')

In [9]:
# ascents_df[ascents_df.date.apply(lambda x: x[x != '0'].nunique(), axis=1) > 1]
ascents_df = ascents_df.drop_duplicates(subset="date", keep = False)
scraped_df = scraped_df.drop_duplicates(subset="date", keep = False)

In [10]:
ascents_df.date.value_counts()

2015-07-19    1
2013-10-07    1
2011-08-27    1
2016-08-29    1
2001-07-19    1
             ..
2008-08-10    1
2007-08-21    1
2005-07-10    1
2011-07-28    1
2009-07-01    1
Name: date, Length: 603, dtype: int64

In [11]:
new_df = pd.merge(ascents_df, scraped_df, how = 'inner', left_on = 'date', right_on = 'date')

In [12]:
new_df.shape

(569, 74)

In [13]:
df_lst.append(new_df)

In [14]:
compare_df = new_df[['user_id', 'userAvatar', 'userName']]

In [15]:
compare_df.head(100)

    user_id              userAvatar            userName
0       361                     NaN    User Deactivated
1      2059        gallery/2059.jpg   Milena Bergna (f)
2      1167        gallery/1167.JPG         Ernest Seto
3       344                     NaN           Joe Hedge
4       408         gallery/408.jpg         Andre Neres
..      ...                     ...                 ...
95    16690  p/gallery/efpthzej.jpg       Belen Manresa
96    14705       gallery/14705.jpg        Mandi Finger
97    12170       gallery/12170.jpg          Grigory Sv
98    15804                     NaN       agus (sonris)
99    17200       gallery/17200.jpg  Caroline Minvielle

[100 rows x 3 columns]

In [16]:
compare_df.shape

(569, 3)