In [1]:
import pandas as pd
import numpy as np

In [9]:
# df = pd.read_csv('/Volumes/64gig\ data_sets/ascent_8_1_21b.csv')
df = pd.read_csv('/Volumes/64gig data_sets/ascent_8_1_21b.csv')

/Users/cp/opt/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3147: DtypeWarning: Columns (0,21) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [10]:
df.head()

,id,user_id,grade_id,notes,raw_notes,method_id,climb_type,total_score,date,year,...,country,comment,rating,description,yellow_id,climb_try,repeat,exclude_from_ranking,user_recommended,chipped
0,2,1,36.0,NaN,0,3,0,545,918342000,1999.0,...,THA,Thailand\n,0.0,NaN,255.0,0.0,0.0,0.0,0.0,0.0
1,3,1,36.0,NaN,0,3,0,545,925509600,1999.0,...,NaN,\n,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0
2,4,1,36.0,NaN,0,3,0,545,933026400,1999.0,...,SWE,\n,0.0,NaN,255.0,0.0,0.0,0.0,0.0,0.0
3,5,1,36.0,NaN,0,3,0,545,933026400,1999.0,...,SWE,\n,0.0,NaN,255.0,0.0,0.0,0.0,0.0,0.0
4,6,1,36.0,NaN,0,3,0,545,933458400,1999.0,...,NaN,\n,0.0,NaN,0.0,0.0,0.0,0.0,0.0,0.0

In [13]:
df.iloc[514820:514824]

,id,user_id,grade_id,notes,raw_notes,method_id,climb_type,total_score,date,year,...,country,comment,rating,description,yellow_id,climb_try,repeat,exclude_from_ranking,user_recommended,chipped
514820,638884,16140,36.0,NaN,0,1,0,0,1157580000,2006.0,...,BEL,NaN,0.0,NaN,255.0,0.0,0.0,0.0,0.0,0.0
514821,638885,7298,49.0,NaN,0,3,0,845,1031263200,2002.0,...,ESP,NaN,2.0,NaN,255.0,0.0,0.0,0.0,0.0,0.0
514822,638886,7298,57.0,NaN,0,1,0,900,1028498400,2002.0,...,ESP,equipada por borja,2.0,NaN,255.0,0.0,0.0,0.0,0.0,0.0
514823,638887,7298,57.0,NaN,0,1,0,900,1028498400,2002.0,...,ESP,NaN,3.0,NaN,255.0,0.0,0.0,0.0,0.0,0.0

In [25]:
df[df['id'] == '637120'].rating

513393   NaN
Name: rating, dtype: float64

In [22]:
np.where(df.id=='638884')

(array([514820]),)

In [26]:
df.isnull().sum().sum()

11006958

In [27]:
df[df['id'] == '637120']

,id,user_id,grade_id,notes,raw_notes,method_id,climb_type,total_score,date,year,...,country,comment,rating,description,yellow_id,climb_try,repeat,exclude_from_ranking,user_recommended,chipped
513393,637120,16060,53.0,NaN,0,1,0,0,1117231200,2005.0,...,ZAF,powerfull c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [29]:
df.iloc[513393].rating = 3

/Users/cp/opt/anaconda3/lib/python3.7/site-packages/pandas/core/generic.py:5168: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[name] = value

In [30]:
np.where(df.id=='638884')

(array([514820]),)

In [33]:
df['rating'][513393] = 3

/Users/cp/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [34]:
df.iloc[513393]

id                            637120
user_id                        16060
grade_id                          53
notes                            NaN
raw_notes                          0
method_id                          1
climb_type                         0
total_score                        0
date                      1117231200
year                            2005
last_year                          0
rec_date                 1.17621e+09
project_ascent_date                0
name                          wicked
crag_id                        22375
crag                           Boven
sector_id                        225
sector                  Hallucinogen
country                          ZAF
comment                  powerfull c
rating                             3
description                      NaN
yellow_id                        NaN
climb_try                        NaN
repeat                           NaN
exclude_from_ranking             NaN
user_recommended                 NaN
chipped                          NaN
Name: 513393, dtype: object

In [36]:
df.to_csv('/Volumes/64gig data_sets/ascent_8_1_21c.csv', index = False)